@use "../mixin/breakpoint" as *;

@keyframes infinity-rotate {
    from {
    transform: rotate(0);
    }
    to {
    transform: rotate(360deg);
    }
}
.anime-type1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}

.anime-type1 .obj {
    position: absolute;
    pointer-events: none;
}

.anime-type1 .circle {
    border-radius: 50%;
}

.anime-type1 .white {
    border: solid 1px var(--white);
}

.anime-type1 .gray {
    border: solid 1px var(--black3);
}

.anime-type1 .dot::before {
    content: "";
    display: block;
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--white);
    left: 0;
    top: -7px;
    right: 0;
    margin: auto;
}

.anime-type1 .animate {
    animation: infinity-rotate 10s linear infinite;
}