@use "../mixin/breakpoint" as *;

html {
  font-size: 62.5%;
  scroll-padding-top: var(--height__header);
}

body {
  font-size: 1.6rem;
  font-family:  var(--font-family);
  font-weight: var(--font-weight__medium);
  color: var(--black1);
  background-color: var(--white);
  line-height: 1.2;
  text-size-adjust: 100%;
  overflow-x: hidden;
  position: relative;
}

body.staff-modal__open {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
}
a:hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

input[type="submit"] {
  cursor: pointer;
}
input[type="submit"]:hover {
  opacity: 0.5;
}