@use "../mixin/breakpoint" as *;
/*
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 100;
    src:
    url("../../../../../wp-includes/fonts/NotoSansJP-Thin.woff2")format("woff2"),
    url("../../../../../wp-includes/fonts/NotoSansJP-Thin.woff")format("woff"),
    url("../../../../../wp-includes/fonts/NotoSansJP-Thin.eot")format("eot"),
    ;
}

@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    src:
    url("../../../../../wp-includes/fonts/NotoSansJP-Regular.woff2")format("woff2"),
    url("../../../../../wp-includes/fonts/NotoSansJP-Regular.woff")format("woff"),
    url("../../../../../wp-includes/fonts/NotoSansJP-Regular.eot")format("eot"),
    ;
}

@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 500;
    src:
    url("../../../../../wp-includes/fonts/NotoSansJP-Medium.woff2")format("woff2"),
    url("../../../../../wp-includes/fonts/NotoSansJP-Medium.woff")format("woff"),
    url("../../../../../wp-includes/fonts/NotoSansJP-Medium.eot")format("eot"),
    ;
}

@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 600;
    src:
    url("../../../../../wp-includes/fonts/NotoSansJP-SemiBold.woff2")format("woff2"),
    url("../../../../../wp-includes/fonts/NotoSansJP-SemiBold.woff")format("woff"),
    url("../../../../../wp-includes/fonts/NotoSansJP-SemiBold.eot")format("eot"),
    ;
}

@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    src:
    url("../../../../../wp-includes/fonts/NotoSansJP-Bold.woff2")format("woff2"),
    url("../../../../../wp-includes/fonts/NotoSansJP-Bold.woff")format("woff"),
    url("../../../../../wp-includes/fonts/NotoSansJP-Bold.eot")format("eot"),
    ;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src:
    url("../../../../../wp-includes/fonts/Montserrat-Bold.woff2")format("woff2"),
    url("../../../../../wp-includes/fonts/Montserrat-Bold.woff")format("woff"),
    url("../../../../../wp-includes/fonts/Montserrat-Bold.eot")format("eot"),
    ;
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src:
    url("../../../../../wp-includes/fonts/RobotoCondensed-Bold.woff2")format("woff2"),
    url("../../../../../wp-includes/fonts/RobotoCondensed-Bold.woff")format("woff"),
    url("../../../../../wp-includes/fonts/RobotoCondensed-Bold.eot")format("eot"),
    ;
}
*/