@use "../mixin/breakpoint" as *;


.staff-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.32);
    justify-content: center;
    align-items: center;
    display: none;
    z-index: -1;
    transition: all 0.5s ease;
}

.staff-modal__open .staff-modal {
    display: flex;
    z-index: var(--zindex__modal);
}

.staff-modal__article {
    background-color: var(--white);
    border-radius: 10px;
    padding: 59px 57px 72px;
    position: relative;
    display: grid;
    grid-template-columns: 238px 1fr;
    grid-template-rows: repeat(3, auto) 1fr;
    column-gap: 45px;
    row-gap: 25px;
}

.staff-modal__close {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--black3);
    top: 20px;
    right: 17px;
}

.staff-modal__close::before, 
.staff-modal__close::after {
    content: "";
    width: 12.73px;
    height: 1px;
    background-color: var(--white);
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
}

.staff-modal__close::before {
    transform: rotate(45deg);
}

.staff-modal__close::after {
    transform: rotate(-45deg);
}

.staff-modal__figure {
    grid-column: 1/2;
    grid-row: 1/-1;
}

.staff-modal__img {
    border-radius: 10px;
}

.staff-modal__row {
    grid-column: 2/3;
}

.staff-modal__row-th {
    font-size: 16px;
    font-weight: var(--font-weight__bold);
    letter-spacing: 0.1em;
    color: var(--orange);
    line-height: 24px;
    padding-bottom: 5px;
}

.staff-modal__row-td {
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--font-weight__bold);
    letter-spacing: 0.1em;
    padding-bottom: 25px;
    border-bottom: solid 1px var(--black2);
}
.name .staff-modal__row-td {
    font-size: 25px;
    line-height: 36px;
    padding-bottom: 15px;
}