@use "../mixin/breakpoint" as *;

.pgtype1 {
    background-color: var(--gray);
}


/****************************************************/
/* ov(overview)                                     */
/****************************************************/
.pgsrv-ov {
    padding-top: 74px;
    padding-bottom: 100px;
    text-align: center;
}

.pgsrv-ov__text1 {
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.1em;
    display: inline-block;
    font-weight: var(--font-weight__bold);
    color: var(--orange);
    position: relative;
    padding: 0 36px 36px;
}

.pgsrv-ov__text1::before {
    content: "“";
    display: block;
    position: absolute;
    left: 0;
    top: -5px;
}

.pgsrv-ov__text1::after {
    content: "”";
    display: block;
    position: absolute;
    right: 0;
    top: -5px;
}

.pgsrv-ov__text2 {
    font-size: 16px;
    font-weight: var(--font-weight__bold);
    line-height: 40px;
    letter-spacing: 0.1em;
}


/****************************************************/
/* point                                            */
/****************************************************/
.pgsrv-point {
    padding-bottom: 108px;
}

.pgsrv-point__h2 {
    padding-bottom: 38px;
}


/****************************************************/
/* area                                             */
/****************************************************/
.pgsrv-area {
    padding-bottom: 145px;
}

.pgsrv-area__h2 {
    padding-bottom: 38px;
}

.pgsrv-area__content {
    display: grid;
    grid-template-columns: 1fr 500px;
    column-gap: 80px;
}

.pgsrv-area__map img {
    margin-top: -93px;
}

.pgsrv-area__office-lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 18px;
    row-gap: 16px;
}

.pgsrv-area__office-list {
    background-color: var(--white);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

.pgsrv-area__office-name {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    font-weight: var(--font-weight__bold);
}

.pgsrv-area__office-area {
    font-size: 12px;
    line-height: 18px;
    color: var(--black3);
    letter-spacing: 0.1em;
    font-weight: var(--font-weight__bold);
}

.pgsrv-area__aichi {
    grid-column: 1/3;
    background-color: var(--white);
    padding: 30px 46px 34px;
    border-radius: 5px;
    margin-top: 30px;
}

.pgsrv-area__aichi-header {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-bottom: 10px;
    border-bottom: solid 1px var(--black);
    margin-bottom: 10px;
}

.pgsrv-area__aichi-header-name {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    font-weight: var(--font-weight__bold);
}

.pgsrv-area__aichi-header-text {
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.1em;
}

.pgsrv-area__aichi-text {
    font-size: 14px;
    font-weight: var(--font-weight__regular);
    line-height: 27px;
    letter-spacing: 0.1em;
}


/****************************************************/
/* area kyoto                                       */
/****************************************************/
.pgsrv-areakyoto__inner {
    width: min(var(--width-base), 933px);
    margin: 0 auto;
}

.pgsrv-areakyoto__content {
    display: grid;
    grid-template-columns: 429px 1fr;
    grid-template-rows: repeat(2, auto) 1fr;
    column-gap: 80px;
}

.pgsrv-areakyoto__map {
    grid-column: 2/3;
    grid-row: 1/-1;
}

.pgsrv-areakyoto__map img {
    margin-top: -102px;
}

.pgsrv-areakyoto__office-list {
    width: 100%;
    background-color: var(--white);
    text-align: center;
    font-size: 20px;
    font-weight: var(--font-weight__bold);
    letter-spacing: 0.1em;
    border-radius: 5px;
    padding: 16px 0px;
}

.pgsrv-areakyoto__office-lists {
    padding-bottom: 44px;
}

.pgsrv-areakyoto__btn.btn-type1 {
    height: 74px;
}

.pagsrv-areakyoto {
    padding-bottom: 40px;
}


/****************************************************/
/* detail                                           */
/****************************************************/
.pgsrv-detail {
    background: linear-gradient(180deg, var(--gray) 0%, var(--gray) 158px, var(--white) 158px, var(--white) 100%);
    padding-bottom: 237px;
}

.pgsrv-detail__inner {
    position: relative;
    z-index: 1;
}

.pgsrv-detail__list {
    padding: 0 17.5px;
}
.pgsrv-detail__img {
    border-radius: 10px;
}

.pgsrv-detail__btn {
    width: 628px;
    height: 140px;
    margin: 0 auto;
    margin-top: 76px;
}


/****************************************************/
/* voices                                           */
/****************************************************/
.pgsrv-voices {
    position: relative;
    margin-top: -390px;
}

.pgsrv-voices__bg {
    background-image: url(../img/page/pgsrv-voices__bg.jpg);
    width: 100%;
    height: 390px;
    background-size: 100% 100%;
    background-position: bottom;
}

.pgsrv-voices__h2 {
    padding-bottom: 45px;
}

.pgsrv-voices__btn {
    width: 308px;
    height: 55px;
    margin: 0 auto;
    margin-bottom: 130px;
}

.pgsrv-voices__others-h3 {
    position: relative;
    text-align: center;
    padding-bottom: 58px;
}

.pgsrv-voices__others-h3 span {
    display: inline-block;
    font-size: 20px;
    font-weight: var(--font-weight__bold);
    line-height: 29px;
    letter-spacing: 0.1em;
    padding: 0 24.5px;
    background-color: var(--gray);
    position: relative;
    z-index: 2;
}

.pgsrv-voices__others-h3::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    z-index: 1;
    top: 14px;
}

.pgsrv-voices__others-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 62px;
    padding-bottom: 50px;
}

.pgsrv-voices__others-btn {
    width: 100%;
    height: 118px;
}



/****************************************************/
/* salon                                            */
/****************************************************/
.pgsrv-salon {
    background-color: var(--white);
    border-radius: 70px 70px 0 0;
    padding-top: 117px;
}

.pgsrv-salon__inner {
    position: relative;
    z-index: 2;
}

.pgsrv-salon__h2 {
    padding-bottom: 55px;
}

.pgsrv-salon__info {
    display: grid;
    grid-template-columns: 1fr 516px;
    column-gap: 38.5px;
    grid-template-rows: repeat(3, auto) 1fr;
    padding-bottom: 55px;
}

.pgsrv-salon__info-figure {grid-row: 1 / -1;}

.pgsrv-salon__info-img {
    border-radius: 10px;
}

.pgsrv-salon__info-logo {
    padding-bottom: 12px;
}

.pgsrv-salon__info-name {
    font-size: 30px;
    line-height: 44px;
    font-weight: var(--font-weight__bold);
    letter-spacing: 0.1em;
    color: var(--orange);
    padding-bottom: 7px;
}

.pgsrv-salon__info-address {
    font-size: 16px;
    line-height: 30px;
    font-weight: var(--font-weight__bold);
    letter-spacing: 0.1em;
    padding-bottom: 20px;
}

.pgsrv-salon__info-table tr {
    border-bottom: solid 1px var(--black);
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--font-weight__bold);
    letter-spacing: 0.1em;
    padding: 22px 0;
}

.pgsrv-salon__info-table th {
    width: 104px;
    text-align: left;
}

.pgsrv-salon__info-table tr:first-child {
    border-top: solid 1px var(--black);
}

.pgsrv-salon__office {
    background-color: var(--gray);
    padding: 37px 50px 70px;
    border-radius: 10px;
}

.pgsrv-salon__office-h3 {
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    font-weight: var(--font-weight__bold);
    letter-spacing: 0.1em;
    padding-bottom: 34px;
}

.pgsrv-salon__btn {
    margin: 0 auto;
    margin-top: 63px;
    margin-bottom: 92px;
    width: 530px;
    height: 138px;
}

.pgsrv-salon__group-title {
    text-align: center;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.1em;
    font-weight: var(--font-weight__bold);
    color: var(--orange);
    position: relative;
    margin-bottom: 85px;
}

.pgsrv-salon__group-title span {
    display: inline-block;
    background-color: var(--white);
    padding: 0 30px;
    position: relative;
    z-index: 2;
}


.pgsrv-salon__group-title::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--orange);
    top: 22px;
}

.pgsrv-salon__group-lists {
    padding-bottom: 215px;
}


/****************************************************/
/* service02ページ　                                  */
/****************************************************/
.page-service02 .pgsrv-detail {
    background: var(--gray);
    padding-bottom: 122px;
}


/****************************************************/
/* service03ページ　                                  */
/****************************************************/
.page-service03 .pgsrv-detail {
    background: var(--gray);
    padding-bottom: 122px;
}

.page-service03 .pgsrv-sec05 {
    margin-bottom: 122px;
}

.page-service03 .pgsrv-sec11 {
    padding-bottom: 66px;
}

.page-service03 .pgsrv-sec13 {
    margin-bottom: 202px;
}